*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    width: 100%;height: 100%;
}
.main{
width: 100vw;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background: lightseagreen;
flex-direction: column;

}
.cover{
    width: 60vw;
    height: 70vh;
    border: 1px solid black;
    border-radius: 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    gap: 4vh;
    flex-direction: column;
 
}
.timer,.themes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;

}
.timer div{
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
}
.themes{
    gap: 3.7vw;
}
.input-time{
    width: 30vw;
    height: fit-content;
    padding: 1vh 4vw;
    background: white;
}