*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    color: white;
}
.navbar{
    width: 100%;
    height: 80px;
    background: rgb(18, 105, 122);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
.navbar a{
    color: white;
    font-size: 20px;
}
.cart{
    padding: 10px;
    background: rgba(2, 70, 109, 0.841);
    border-radius: 10%;
}
.content{
    width: 100%;
    background: rgb(60, 137, 137);

    display: flex;
    flex-wrap: wrap;
    padding: 2vw;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
.cart-box{
    width: 20vw;
    height: 60vh;
    background: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: space-between;
    padding: 10px;
    color: rgb(1, 0, 1);
}
.cart-box .image{
    width: 95%;
    height: 60%;
    /* background: gray; */
}
.name{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 800;
}
.price{
    font-weight: 400;
}
.type{
    text-transform: capitalize;
    font-size: 14px;
}
.btn{
    width: 100%;
    font-size: 25px;
    padding: 10px;
    transition: all ease .1s;
    background: #000;
    color: white;
}
.btn:active{
 background: white;
 color: #000;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.cover{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 2vw 1vw;
    gap: 3vw;
}
.elem{
    color: #000;
    display: flex;
    width: 90%;
    height: 170px;
justify-content: space-around;
align-items: center;
background: rgb(253, 247, 236);
box-shadow: 20px 10px 10px rgb(118, 117, 117);
text-transform: capitalize;
}
.elem-image{
    width: 110px;
    height: 160px;
    object-fit: cover;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.elem-btn{
    background: #000;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
}
.label{
    width: 100%;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    color: #000;
}
.label button{
    padding: 15px 50px;
    background: #000;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
}
.label button:active{
    background: whitesmoke;
    color: #000;
    cursor: pointer;
}